#container > .edit-component {
  width: 100%;
  margin-top: 2em;

  > .left-panel {
    width: 25vw;
    height: 1em;
    float: left;
  }
  > .container {
    width: 50vw;
    float: left;
  }
  > .index-panel {
    float: left;

    > .index {
      margin-left: 2em;

      > div {
        margin: 0;
        line-height: 1em;
        font-size: 1.5em;
        color: gray;

        &:hover:not(.active) {
          cursor: pointer;
          color: red;
        }

        &.active {
          color: red;
        }
      }
    }
  }

  .row {
    display: flex;

    button {
      margin-right: 0 !important;
    }

    > .input-text {
      flex-grow: 1;
    }

    &.hide {
      display: none;
    }

    > *:not(:first-child) {
      margin-left: 1em;
    }

    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }
}
